<div class="main-layout">
    <!--head-->
    <div class="head">
        <div class="logo col-sm-1">
            <div>
                Transfer
            </div>
        </div>
        <!-- <div class="notify col-sm-3">
            <div>
                About
            </div>
            <div>
                Feature
            </div>
            <div>
                Join
            </div>
        </div> -->
    </div>
    <!--body-->
    <div class="row">
        <div class="route">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>